<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Crea tu cuenta - Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>

        <main>

            <section class="page-title">
                <h2>Creá tu cuenta</h2>
            </section>
            <div class="wrapper-form">
                <form action="" method="GET">
                    
                    <div class="input-wrap">
                    <input type="text" name="fullName" id="fullName" placeholder="Nombre y apellido" minlength="3" class="form-control">
                    </div>
                    
                    <div class="input-wrap">
                    <input type="text" name="user" id="user" placeholder="Nombre de usuario" required class="form-control">
                    </div>

                    <div class="input-wrap">
                    <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                    <input type="date" name="birthdate" id="birthdate" class="form-control">
                    </div>

                    <div class="input-wrap">
                    <input type="text" name="address" class="form-control" placeholder="Domicilio">
                    </div>

                    
                    <div class="input-wrap">
                    <p>Perfil de usuario</p>

                    <section class="perfil-usuario">
                        <input type="radio" name="perfil-usuario" id="perfil-vendedor" value="perfil-vendedor">
                        <label for="perfil-vendedor" class="form-label">Vendedor</label>

                        <input type="radio" name="perfil-usuario" id="perfil-comprador" value="perfil-comprador">
                        <label for="perfil-comprador" class="form-label">Comprador</label>
                    </section>
                    </div>

                    <div class="input-wrap">
                    <section class="intereses">
                        <p>Categorías de interés</p>

                        <div class="checkbox">
                            <input type="checkbox" name="intereses" id="electro" value="electro">   
                            <label for="electro">Electro</label>
                        </div>
                        
                        <div class="checkbox">
                            <input type="checkbox" name="intereses" id="moda" value="moda">
                            <label for="moda">Moda</label>
                        </section>
                        

                        <div class="checkbox">
                            <input type="checkbox" name="intereses" id="hogar" value="hogar">
                            <label for="hogar">Hogar</label>
                        </div>
                        

                        <div class="checkbox">
                            <input type="checkbox" name="intereses" id="jugueteria" value="jugueteria">
                            <label for="jugueteria">Juguetería</label>
                        </div>
                        

                        <div class="checkbox">
                            <input type="checkbox" name="intereses" id="vida-sana" value="vida-sana">
                            <label for="vida-sana">Vida sana</label>
                        </div>
                    </div>

                    <div class="input-wrap">
                    <div class="foto-usuario">
                        <label for="foto-usuario" class="form-label">Foto de usuario</label>
                        <input type="file" name="foto-usuario" id="foto-usuario" class="form-control">
                    </div>
                    </div>

                    <div class="input-wrap">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="password" required minlength="8" class="form-control">
                    </div>

                    <div class="input-wrap">
                    <label for="password_confirmation" class="form-label">Confirmar contraseña</label>
                    <input type="password" name="password_confirmation" id="password_confirmation" required class="form-control">
                    </div>

                    <div class="btn-wrap">
                    <button class="btn-signup" type="submit" formaction="/">Enviar</button>
                
                    <button class="btn-reset" type="reset">Borrar</button>
                    </div>
        
                </form>
            </div>  

         </main> 

         <footer>
            <section>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <br>
            <section>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <br>
            <section>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <br>
            <div>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
    </body>
</html>