<main>
    <div class="wrapper-form">
        <form action="" method="POST">

                <label for="fullName">Nombre y apellido</label>
                <input type="text" name="fullName" id="fullName" placeholder="Nombre completo" minlength="3">

                <label for="user">Nombre de usuario</label>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario" required>
    
                <label for="birthdate">Fecha de nacimiento</label>
                <input type="date" name="birthdate" id="birthdate">
    
                <label for="address">Domicilio</label>
                <input type="text" name="address">


            
    
            <p>Perfil de usuario</p>

            <section class="perfil-vendedor">
                <label for="perfil-vendedor">Vendedor</label>
                <input type="radio" name="perfil-vendedor" id="perfil-vendedor" value="perfil-vendedor">

                <label for="perfil-comprador">Comprador</label>
                <input type="radio" name="perfil-comprador" id="perfil-comprador" value="perfil-comprador">
            </section>
            
            <section class="intereses">
                <p>Categorías de interés</p>

                <div class="checkbox">
                    <label for="electro">Electro</label>
                    <input type="checkbox" name="intereses" id="electro" value="electro">   
                </div>
                
                <div class="checkbox">
                    <label for="moda">Moda</label>
                    <input type="checkbox" name="intereses" id="moda" value="moda">
                </section>
                

                <div class="checkbox">
                    <label for="hogar">Hogar</label>
                    <input type="checkbox" name="intereses" id="hogar" value="hogar">
                </div>
                

                <div class="checkbox">
                    <label for="jugueteria">Juguetería</label>
                    <input type="checkbox" name="intereses" id="jugueteria" value="jugueteria">
                </div>
                

                <div class="checkbox">
                    <label for="vida-sana">Vida sana</label>
                    <input type="checkbox" name="intereses" id="vida-sana" value="vida-sana">
                </div>

                <div class="foto-usuario">
                    <label for="foto-usuario">Foto de usuario</label>
                    <input type="file" name="foto-usuario" id="foto-usuario">
                </div>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" required minlength="8">

                <label for="password_confirmation">Confirmar Password</label>
                <input type="password" name="password_confirmation" id="password_confirmation" required>

                <button class="submit" type="submit"><a href="/">Enviar</a></button>
            
                <button type="reset">Borrar</button>
  
            </form>
        </div>  

    </main> 